<article class="post">
    <div class="title">
        <p>{{title}}</p>
        <p>({{format_date created_at}})</p>
    </div>
    <div class="meta">
        <p>{{content}}</p>
        |
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
</article>